{% extends '::base.html.twig' %}

{% block body %}
  <h2>CFP submitted successfully</h2>
  <div class="alert alert-success">
	You successfully submitted the CFP for the conference <strong>{{cfp.conferenceName}}</strong>.
  </div>
{% endblock %}
