<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Call-For-Papers manager (qaCFPs)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- @TODO: re-activate
  <link rel="icon" href="/images/favicon.png" type="image/png" />
  -->

  <link type="text/css" href="/css/bootstrap.min.css" rel="Stylesheet" />
  <link type="text/css" href="/css/bootstrap-responsive.min.css" rel="Stylesheet" />

  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>

  <!-- @TODO: re-activate
  <link type="text/css" href="/style/jquery/smoothness/jquery-ui-1.8.5.custom.css" rel="Stylesheet" />	
  <script type="text/javascript" src="/scripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/scripts/jquery-ui-1.8.5.custom.min.js"></script>
  -->

  {% block stylesheets %}{% endblock %}
</head>
<body>

  <div class="menu">
    {% block menu %}{% endblock %}
  </div>
  <div class="content container">
    {% block messages %}{% endblock %}
	{% block body %}{% endblock %}
  </div>

  <div class="container">
	{% block body %}{% endblock %}
  </div>

  <script src="js/bootstrap.min.js"></script>
</body>
